:root {
    --primary-color: #800080;
    --secondary-color: #a052cc;
    --glass-color: rgba(255, 255, 255, 0.2);
    font-family: 'Poppins', sans-serif;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-size: cover;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    background-image: url("images/wp2672827.webp");
    
  }

  nav img {
    width: 100px;
    height: auto;
  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    backdrop-filter: blur(10px);


  }

  nav ul li a:hover {
    background-color: var(--glass-color);
    backdrop-filter: blur(10px); 
    color: rgb(255, 255, 255);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
  }

  nav {
    background-color: var(--glass-color);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  }


  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("images/bg.jpeg");
    min-height: 100%;
    padding-top: 1000px;
  }
  
  .bgimg-2 {
    background-image: url("images/download.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("images/2023-04-09.png");
    min-height: 400px;
  }



  .typewriter {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
    margin-top: -80px;
  }
  
  .typewriter span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 10px;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
  }
  
  .footer-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

  }
  
  .glassmorphism {
    
    background: rgba( 0, 0, 0, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
background-image: url("images/wp2672827.webp");
    
  }
  
  .contact-info p {
    margin: 0;
    color: #000000;
    text-align: center;

  }
  
  .copyright {
    margin-top: 15px;
    color: #000000;
    text-align: center;
  }

  
  .typewriter h1 {
    color: #ffffff;
    text-align: center;
    font-size: 70px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 10px; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    margin-bottom: 19px;
    
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  


  #topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 25px;
  }
  #topBtn:hover {
    background-color: #555;
  }
  


  .wrapper {

	height: 150px;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
    background-color: #ffffff;

}

.wrapper:before, .wrapper:after {
	content: "";
	position: absolute;
	height: 150px;
	width: 180px;
	z-index: 2;
}

.wrapper:after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.wrapper:before {
	left: 0;
	top: 0;
}

.wrapper .track {
	display: flex;
	width: calc(150px * 10);
	animation: scroll 15s 0.5s linear infinite;
}

.wrapper .logo {
    padding-left: 100px;
}

.wrapper .logo img {
	height: 90px;
}

@keyframes  scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-150px * 5));
	}
}


.wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    padding: 50px;
    color: #000;
    /* background: rgba( 0, 0, 0, 0.25 ); */
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
border: 2px solid green;
position: relative;
transform: translate(0);
transform-style: preserve-3d; */
  }
  
  .wrapper span.border {
    background-color: #111;
    color: #fff;
    padding: 66px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  .logo{
    padding-left: 40px;
  }


  /* .wrapper:before {
    content:"";
    position: absolute;
    inset: 0;
    transform: translate3d(0,0,-1px);
    background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
    filter: blur(10px);
    clip-path: polygon(-100vmax -100vmax,100vmax -100vmax,100vmax 100vmax,-100vmax 100vmax,-100vmax -100vmax,0 0,0 100%,100% 100%,100% 0,0 0);
  }
   */
  

   .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .instagram {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }
